In [216]:
# import necessary libraries

from sklearn.cluster import KMeans

import pandas as pd
import seaborn as sns
import numpy as np

import scipy.stats as stats

from matplotlib import pyplot as plt

%matplotlib inline

In [217]:
# import dataset

df = pd.read_csv("credit_card.csv")

df.head()

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,C10001,40.900749,0.818182,95.40,0.00,95.4,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,C10002,3202.467416,0.909091,0.00,0.00,0.0,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,C10003,2495.148862,1.000000,773.17,773.17,0.0,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,C10004,1666.670542,0.636364,1499.00,1499.00,0.0,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,NaN,0.000000,12
4,C10005,817.714335,1.000000,16.00,16.00,0.0,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8950 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8950 non-null   object
 1   BALANCE                           8950 non-null   float64
 2   BALANCE_FREQUENCY                 8950 non-null   float64
 3   PURCHASES                         8950 non-null   float64
 4   ONEOFF_PURCHASES                  8950 non-null   float64
 5   INSTALLMENTS_PURCHASES            8950 non-null   float64
 6   CASH_ADVANCE                      8950 non-null   float64
 7   PURCHASES_FREQUENCY               8950 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8950 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8950 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8950 non-null   float64
 11  CASH_ADVANCE_TRX                  8950 non-null   int64
 12  PURCHASES_TRX                     8950 non-null   int64
 13  CREDIT_LIMIT                      8949 non-null   float64
 14  PAYMENTS                          8950 non-null   float64
 15  MINIMUM_PAYMENTS                  8637 non-null   float64
 16  PRC_FULL_PAYMENT                  8950 non-null   float64
 17  TENURE                            8950 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.2+ MB

In [219]:
#FIRST DROP COLUMNS WITH MISSING DATA BC WILL MESS WITH ZSCORES
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8636 entries, 0 to 8949
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8636 non-null   object
 1   BALANCE                           8636 non-null   float64
 2   BALANCE_FREQUENCY                 8636 non-null   float64
 3   PURCHASES                         8636 non-null   float64
 4   ONEOFF_PURCHASES                  8636 non-null   float64
 5   INSTALLMENTS_PURCHASES            8636 non-null   float64
 6   CASH_ADVANCE                      8636 non-null   float64
 7   PURCHASES_FREQUENCY               8636 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8636 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8636 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8636 non-null   float64
 11  CASH_ADVANCE_TRX                  8636 non-null   int64
 12  PURCHASES_TRX                     8636 non-null   int64
 13  CREDIT_LIMIT                      8636 non-null   float64
 14  PAYMENTS                          8636 non-null   float64
 15  MINIMUM_PAYMENTS                  8636 non-null   float64
 16  PRC_FULL_PAYMENT                  8636 non-null   float64
 17  TENURE                            8636 non-null   int64
dtypes: float64(14), int64(3), object(1)
memory usage: 1.3+ MB

In [220]:
#determine and (possibly) remove outliers
#1. balance
df["zscore_balance"] = np.abs(stats.zscore(df["BALANCE"]))
balance_outliers = df.loc[df["zscore_balance"] > 3].index

print(balance_outliers)

##many outliers for balance

df = df[df["zscore_balance"] <= 3]

df.info()

Int64Index([  30,   87,   90,  120,  124,  128,  133,  138,  143,  153,
            ...
            6445, 6455, 6479, 6600, 6629, 6838, 7132, 7427, 7764, 7962],
           dtype='int64', length=186)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8450 entries, 0 to 8949
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8450 non-null   object
 1   BALANCE                           8450 non-null   float64
 2   BALANCE_FREQUENCY                 8450 non-null   float64
 3   PURCHASES                         8450 non-null   float64
 4   ONEOFF_PURCHASES                  8450 non-null   float64
 5   INSTALLMENTS_PURCHASES            8450 non-null   float64
 6   CASH_ADVANCE                      8450 non-null   float64
 7   PURCHASES_FREQUENCY               8450 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8450 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8450 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8450 non-null   float64
 11  CASH_ADVANCE_TRX                  8450 non-null   int64
 12  PURCHASES_TRX                     8450 non-null   int64
 13  CREDIT_LIMIT                      8450 non-null   float64
 14  PAYMENTS                          8450 non-null   float64
 15  MINIMUM_PAYMENTS                  8450 non-null   float64
 16  PRC_FULL_PAYMENT                  8450 non-null   float64
 17  TENURE                            8450 non-null   int64
 18  zscore_balance                    8450 non-null   float64
dtypes: float64(15), int64(3), object(1)
memory usage: 1.3+ MB

In [221]:
#determine and (possibly) remove outliers
#2. balance frequency
df["zscore_balance_freq"] = np.abs(stats.zscore(df["BALANCE_FREQUENCY"]))
balance_freq_outliers = df.loc[df["zscore_balance_freq"] > 3].index

print(balance_freq_outliers)

##many outliers for balance frequency

df = df[df["zscore_balance_freq"] <= 3]

df.info()

Int64Index([ 205,  275,  336,  354,  535,  659,  680,  736,  764,  794,
            ...
            8642, 8671, 8687, 8713, 8721, 8750, 8751, 8784, 8793, 8882],
           dtype='int64', length=168)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8282 entries, 0 to 8949
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8282 non-null   object
 1   BALANCE                           8282 non-null   float64
 2   BALANCE_FREQUENCY                 8282 non-null   float64
 3   PURCHASES                         8282 non-null   float64
 4   ONEOFF_PURCHASES                  8282 non-null   float64
 5   INSTALLMENTS_PURCHASES            8282 non-null   float64
 6   CASH_ADVANCE                      8282 non-null   float64
 7   PURCHASES_FREQUENCY               8282 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8282 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8282 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8282 non-null   float64
 11  CASH_ADVANCE_TRX                  8282 non-null   int64
 12  PURCHASES_TRX                     8282 non-null   int64
 13  CREDIT_LIMIT                      8282 non-null   float64
 14  PAYMENTS                          8282 non-null   float64
 15  MINIMUM_PAYMENTS                  8282 non-null   float64
 16  PRC_FULL_PAYMENT                  8282 non-null   float64
 17  TENURE                            8282 non-null   int64
 18  zscore_balance                    8282 non-null   float64
 19  zscore_balance_freq               8282 non-null   float64
dtypes: float64(16), int64(3), object(1)
memory usage: 1.3+ MB

In [222]:
#determine and (possibly) remove outliers
#3. purchases
df["zscore_purchases"] = np.abs(stats.zscore(df["PURCHASES"]))
purchases_outliers = df.loc[df["zscore_purchases"] > 3].index

print(purchases_outliers)

##many outliers for purchases

df = df[df["zscore_purchases"] <= 3]

df.info()

Int64Index([   6,  125,  158,  171,  204,  224,  229,  262,  263,  273,
            ...
            6443, 6512, 6640, 6747, 7046, 7277, 7378, 7553, 8541, 8689],
           dtype='int64', length=128)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 8154 entries, 0 to 8949
Data columns (total 21 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           8154 non-null   object
 1   BALANCE                           8154 non-null   float64
 2   BALANCE_FREQUENCY                 8154 non-null   float64
 3   PURCHASES                         8154 non-null   float64
 4   ONEOFF_PURCHASES                  8154 non-null   float64
 5   INSTALLMENTS_PURCHASES            8154 non-null   float64
 6   CASH_ADVANCE                      8154 non-null   float64
 7   PURCHASES_FREQUENCY               8154 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        8154 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  8154 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            8154 non-null   float64
 11  CASH_ADVANCE_TRX                  8154 non-null   int64
 12  PURCHASES_TRX                     8154 non-null   int64
 13  CREDIT_LIMIT                      8154 non-null   float64
 14  PAYMENTS                          8154 non-null   float64
 15  MINIMUM_PAYMENTS                  8154 non-null   float64
 16  PRC_FULL_PAYMENT                  8154 non-null   float64
 17  TENURE                            8154 non-null   int64
 18  zscore_balance                    8154 non-null   float64
 19  zscore_balance_freq               8154 non-null   float64
 20  zscore_purchases                  8154 non-null   float64
dtypes: float64(17), int64(3), object(1)
memory usage: 1.4+ MB

In [223]:
#determine and (possibly) remove outliers
#4. one-off purchases
df["zscore_oneoff_purchases"] = np.abs(stats.zscore(df["ONEOFF_PURCHASES"]))
oneoff_purchases_outliers = df.loc[df["zscore_oneoff_purchases"] > 3].index

print(oneoff_purchases_outliers)

##many outliers for one-off purchases

df = df[df["zscore_oneoff_purchases"] <= 3]

df.info()

Int64Index([  21,   23,   57,   84,  144,  151,  167,  219,  242,  260,
            ...
            7794, 7819, 7902, 7923, 8215, 8256, 8465, 8611, 8662, 8748],
           dtype='int64', length=221)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7933 entries, 0 to 8949
Data columns (total 22 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           7933 non-null   object
 1   BALANCE                           7933 non-null   float64
 2   BALANCE_FREQUENCY                 7933 non-null   float64
 3   PURCHASES                         7933 non-null   float64
 4   ONEOFF_PURCHASES                  7933 non-null   float64
 5   INSTALLMENTS_PURCHASES            7933 non-null   float64
 6   CASH_ADVANCE                      7933 non-null   float64
 7   PURCHASES_FREQUENCY               7933 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        7933 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  7933 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            7933 non-null   float64
 11  CASH_ADVANCE_TRX                  7933 non-null   int64
 12  PURCHASES_TRX                     7933 non-null   int64
 13  CREDIT_LIMIT                      7933 non-null   float64
 14  PAYMENTS                          7933 non-null   float64
 15  MINIMUM_PAYMENTS                  7933 non-null   float64
 16  PRC_FULL_PAYMENT                  7933 non-null   float64
 17  TENURE                            7933 non-null   int64
 18  zscore_balance                    7933 non-null   float64
 19  zscore_balance_freq               7933 non-null   float64
 20  zscore_purchases                  7933 non-null   float64
 21  zscore_oneoff_purchases           7933 non-null   float64
dtypes: float64(18), int64(3), object(1)
memory usage: 1.4+ MB

In [224]:
#determine and (possibly) remove outliers
#5. installments purchases
df["zscore_installments_purchases"] = np.abs(stats.zscore(df["INSTALLMENTS_PURCHASES"]))
installments_purchases_outliers = df.loc[df["zscore_installments_purchases"] > 3].index

print(installments_purchases_outliers)

##many outliers for installments purchases

df = df[df["zscore_installments_purchases"] <= 3]

df.info()

Int64Index([  71,  116,  122,  136,  150,  180,  195,  196,  231,  266,
            ...
            8259, 8313, 8325, 8355, 8373, 8461, 8486, 8537, 8558, 8737],
           dtype='int64', length=175)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7758 entries, 0 to 8949
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           7758 non-null   object
 1   BALANCE                           7758 non-null   float64
 2   BALANCE_FREQUENCY                 7758 non-null   float64
 3   PURCHASES                         7758 non-null   float64
 4   ONEOFF_PURCHASES                  7758 non-null   float64
 5   INSTALLMENTS_PURCHASES            7758 non-null   float64
 6   CASH_ADVANCE                      7758 non-null   float64
 7   PURCHASES_FREQUENCY               7758 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        7758 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  7758 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            7758 non-null   float64
 11  CASH_ADVANCE_TRX                  7758 non-null   int64
 12  PURCHASES_TRX                     7758 non-null   int64
 13  CREDIT_LIMIT                      7758 non-null   float64
 14  PAYMENTS                          7758 non-null   float64
 15  MINIMUM_PAYMENTS                  7758 non-null   float64
 16  PRC_FULL_PAYMENT                  7758 non-null   float64
 17  TENURE                            7758 non-null   int64
 18  zscore_balance                    7758 non-null   float64
 19  zscore_balance_freq               7758 non-null   float64
 20  zscore_purchases                  7758 non-null   float64
 21  zscore_oneoff_purchases           7758 non-null   float64
 22  zscore_installments_purchases     7758 non-null   float64
dtypes: float64(19), int64(3), object(1)
memory usage: 1.4+ MB

In [225]:
#determine and (possibly) remove outliers
#6. cash advance
df["zscore_cash_advance"] = np.abs(stats.zscore(df["CASH_ADVANCE"]))
cash_advance_outliers = df.loc[df["zscore_cash_advance"] > 3].index

print(cash_advance_outliers)

##many outliers for cash advance

df = df[df["zscore_cash_advance"] <= 3]

df.info()

Int64Index([  36,   50,  109,  182,  274,  285,  341,  431,  441,  470,
            ...
            7785, 8151, 8237, 8309, 8315, 8422, 8684, 8705, 8857, 8941],
           dtype='int64', length=166)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7592 entries, 0 to 8949
Data columns (total 24 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           7592 non-null   object
 1   BALANCE                           7592 non-null   float64
 2   BALANCE_FREQUENCY                 7592 non-null   float64
 3   PURCHASES                         7592 non-null   float64
 4   ONEOFF_PURCHASES                  7592 non-null   float64
 5   INSTALLMENTS_PURCHASES            7592 non-null   float64
 6   CASH_ADVANCE                      7592 non-null   float64
 7   PURCHASES_FREQUENCY               7592 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        7592 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  7592 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            7592 non-null   float64
 11  CASH_ADVANCE_TRX                  7592 non-null   int64
 12  PURCHASES_TRX                     7592 non-null   int64
 13  CREDIT_LIMIT                      7592 non-null   float64
 14  PAYMENTS                          7592 non-null   float64
 15  MINIMUM_PAYMENTS                  7592 non-null   float64
 16  PRC_FULL_PAYMENT                  7592 non-null   float64
 17  TENURE                            7592 non-null   int64
 18  zscore_balance                    7592 non-null   float64
 19  zscore_balance_freq               7592 non-null   float64
 20  zscore_purchases                  7592 non-null   float64
 21  zscore_oneoff_purchases           7592 non-null   float64
 22  zscore_installments_purchases     7592 non-null   float64
 23  zscore_cash_advance               7592 non-null   float64
dtypes: float64(20), int64(3), object(1)
memory usage: 1.4+ MB

In [226]:
#determine and (possibly) remove outliers
#7. purchases frequency
df["zscore_purchases_frequency"] = np.abs(stats.zscore(df["PURCHASES_FREQUENCY"]))
purchases_frequency_outliers = df.loc[df["zscore_purchases_frequency"] > 3].index

print(purchases_frequency_outliers)

##no outliers for purchases frequency 

df = df[df["zscore_purchases_frequency"] <= 3]

df.info()

Int64Index([], dtype='int64')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7592 entries, 0 to 8949
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   CUST_ID                           7592 non-null   object
 1   BALANCE                           7592 non-null   float64
 2   BALANCE_FREQUENCY                 7592 non-null   float64
 3   PURCHASES                         7592 non-null   float64
 4   ONEOFF_PURCHASES                  7592 non-null   float64
 5   INSTALLMENTS_PURCHASES            7592 non-null   float64
 6   CASH_ADVANCE                      7592 non-null   float64
 7   PURCHASES_FREQUENCY               7592 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY        7592 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY  7592 non-null   float64
 10  CASH_ADVANCE_FREQUENCY            7592 non-null   float64
 11  CASH_ADVANCE_TRX                  7592 non-null   int64
 12  PURCHASES_TRX                     7592 non-null   int64
 13  CREDIT_LIMIT                      7592 non-null   float64
 14  PAYMENTS                          7592 non-null   float64
 15  MINIMUM_PAYMENTS                  7592 non-null   float64
 16  PRC_FULL_PAYMENT                  7592 non-null   float64
 17  TENURE                            7592 non-null   int64
 18  zscore_balance                    7592 non-null   float64
 19  zscore_balance_freq               7592 non-null   float64
 20  zscore_purchases                  7592 non-null   float64
 21  zscore_oneoff_purchases           7592 non-null   float64
 22  zscore_installments_purchases     7592 non-null   float64
 23  zscore_cash_advance               7592 non-null   float64
 24  zscore_purchases_frequency        7592 non-null   float64
dtypes: float64(21), int64(3), object(1)
memory usage: 1.5+ MB

In [227]:
#determine and (possibly) remove outliers
#8. one-off purchases frequency
df["zscore_oneoff_purchases_frequency"] = np.abs(stats.zscore(df["ONEOFF_PURCHASES_FREQUENCY"]))
oneoff_purchases_frequency_outliers = df.loc[df["zscore_oneoff_purchases_frequency"] > 3].index

print(oneoff_purchases_frequency_outliers)

##no outliers for one-off purchases frequency 

df = df[df["zscore_oneoff_purchases_frequency"] <= 3]

df.info()

Int64Index([], dtype='int64')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7592 entries, 0 to 8949
Data columns (total 26 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   CUST_ID                            7592 non-null   object
 1   BALANCE                            7592 non-null   float64
 2   BALANCE_FREQUENCY                  7592 non-null   float64
 3   PURCHASES                          7592 non-null   float64
 4   ONEOFF_PURCHASES                   7592 non-null   float64
 5   INSTALLMENTS_PURCHASES             7592 non-null   float64
 6   CASH_ADVANCE                       7592 non-null   float64
 7   PURCHASES_FREQUENCY                7592 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY         7592 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY   7592 non-null   float64
 10  CASH_ADVANCE_FREQUENCY             7592 non-null   float64
 11  CASH_ADVANCE_TRX                   7592 non-null   int64
 12  PURCHASES_TRX                      7592 non-null   int64
 13  CREDIT_LIMIT                       7592 non-null   float64
 14  PAYMENTS                           7592 non-null   float64
 15  MINIMUM_PAYMENTS                   7592 non-null   float64
 16  PRC_FULL_PAYMENT                   7592 non-null   float64
 17  TENURE                             7592 non-null   int64
 18  zscore_balance                     7592 non-null   float64
 19  zscore_balance_freq                7592 non-null   float64
 20  zscore_purchases                   7592 non-null   float64
 21  zscore_oneoff_purchases            7592 non-null   float64
 22  zscore_installments_purchases      7592 non-null   float64
 23  zscore_cash_advance                7592 non-null   float64
 24  zscore_purchases_frequency         7592 non-null   float64
 25  zscore_oneoff_purchases_frequency  7592 non-null   float64
dtypes: float64(22), int64(3), object(1)
memory usage: 1.6+ MB

In [228]:
#determine and (possibly) remove outliers
#9. purchases installments frequency
df["zscore_purchases_installments_frequency"] = np.abs(stats.zscore(df["PURCHASES_INSTALLMENTS_FREQUENCY"]))
purchases_installments_frequency_outliers = df.loc[df["zscore_purchases_installments_frequency"] > 3].index

print(purchases_installments_frequency_outliers)

##no outliers for purchases installments frequency 

df = df[df["zscore_purchases_installments_frequency"] <= 3]

df.info()

Int64Index([], dtype='int64')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7592 entries, 0 to 8949
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  7592 non-null   object
 1   BALANCE                                  7592 non-null   float64
 2   BALANCE_FREQUENCY                        7592 non-null   float64
 3   PURCHASES                                7592 non-null   float64
 4   ONEOFF_PURCHASES                         7592 non-null   float64
 5   INSTALLMENTS_PURCHASES                   7592 non-null   float64
 6   CASH_ADVANCE                             7592 non-null   float64
 7   PURCHASES_FREQUENCY                      7592 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               7592 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         7592 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   7592 non-null   float64
 11  CASH_ADVANCE_TRX                         7592 non-null   int64
 12  PURCHASES_TRX                            7592 non-null   int64
 13  CREDIT_LIMIT                             7592 non-null   float64
 14  PAYMENTS                                 7592 non-null   float64
 15  MINIMUM_PAYMENTS                         7592 non-null   float64
 16  PRC_FULL_PAYMENT                         7592 non-null   float64
 17  TENURE                                   7592 non-null   int64
 18  zscore_balance                           7592 non-null   float64
 19  zscore_balance_freq                      7592 non-null   float64
 20  zscore_purchases                         7592 non-null   float64
 21  zscore_oneoff_purchases                  7592 non-null   float64
 22  zscore_installments_purchases            7592 non-null   float64
 23  zscore_cash_advance                      7592 non-null   float64
 24  zscore_purchases_frequency               7592 non-null   float64
 25  zscore_oneoff_purchases_frequency        7592 non-null   float64
 26  zscore_purchases_installments_frequency  7592 non-null   float64
dtypes: float64(23), int64(3), object(1)
memory usage: 1.6+ MB

In [229]:
#determine and (possibly) remove outliers
#10. cash advance frequency
df["zscore_cash_advance_frequency"] = np.abs(stats.zscore(df["CASH_ADVANCE_FREQUENCY"]))
cash_advance_frequency_outliers = df.loc[df["zscore_cash_advance_frequency"] > 3].index

print(cash_advance_frequency_outliers)

##many outliers for cash advance frequency 

df = df[df["zscore_cash_advance_frequency"] <= 3]

df.info()

Int64Index([  28,   86,  199,  210,  218,  334,  348,  537,  539,  542,
            ...
            8365, 8391, 8502, 8529, 8545, 8609, 8649, 8835, 8858, 8912],
           dtype='int64', length=143)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7449 entries, 0 to 8949
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  7449 non-null   object
 1   BALANCE                                  7449 non-null   float64
 2   BALANCE_FREQUENCY                        7449 non-null   float64
 3   PURCHASES                                7449 non-null   float64
 4   ONEOFF_PURCHASES                         7449 non-null   float64
 5   INSTALLMENTS_PURCHASES                   7449 non-null   float64
 6   CASH_ADVANCE                             7449 non-null   float64
 7   PURCHASES_FREQUENCY                      7449 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               7449 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         7449 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   7449 non-null   float64
 11  CASH_ADVANCE_TRX                         7449 non-null   int64
 12  PURCHASES_TRX                            7449 non-null   int64
 13  CREDIT_LIMIT                             7449 non-null   float64
 14  PAYMENTS                                 7449 non-null   float64
 15  MINIMUM_PAYMENTS                         7449 non-null   float64
 16  PRC_FULL_PAYMENT                         7449 non-null   float64
 17  TENURE                                   7449 non-null   int64
 18  zscore_balance                           7449 non-null   float64
 19  zscore_balance_freq                      7449 non-null   float64
 20  zscore_purchases                         7449 non-null   float64
 21  zscore_oneoff_purchases                  7449 non-null   float64
 22  zscore_installments_purchases            7449 non-null   float64
 23  zscore_cash_advance                      7449 non-null   float64
 24  zscore_purchases_frequency               7449 non-null   float64
 25  zscore_oneoff_purchases_frequency        7449 non-null   float64
 26  zscore_purchases_installments_frequency  7449 non-null   float64
 27  zscore_cash_advance_frequency            7449 non-null   float64
dtypes: float64(24), int64(3), object(1)
memory usage: 1.6+ MB

In [230]:
#determine and (possibly) remove outliers
#11. cash advance trx
df["zscore_cash_advance_trx"] = np.abs(stats.zscore(df["CASH_ADVANCE_TRX"]))
cash_advance_trx_outliers = df.loc[df["zscore_cash_advance_trx"] > 3].index

print(cash_advance_trx_outliers)

##many outliers for cash advance trx 

df = df[df["zscore_cash_advance_trx"] <= 3]

df.info()

Int64Index([  91,  107,  357,  402,  465,  743,  763,  803,  826,  845,
            ...
            8223, 8283, 8296, 8308, 8549, 8626, 8639, 8694, 8699, 8795],
           dtype='int64', length=152)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7297 entries, 0 to 8949
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  7297 non-null   object
 1   BALANCE                                  7297 non-null   float64
 2   BALANCE_FREQUENCY                        7297 non-null   float64
 3   PURCHASES                                7297 non-null   float64
 4   ONEOFF_PURCHASES                         7297 non-null   float64
 5   INSTALLMENTS_PURCHASES                   7297 non-null   float64
 6   CASH_ADVANCE                             7297 non-null   float64
 7   PURCHASES_FREQUENCY                      7297 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               7297 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         7297 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   7297 non-null   float64
 11  CASH_ADVANCE_TRX                         7297 non-null   int64
 12  PURCHASES_TRX                            7297 non-null   int64
 13  CREDIT_LIMIT                             7297 non-null   float64
 14  PAYMENTS                                 7297 non-null   float64
 15  MINIMUM_PAYMENTS                         7297 non-null   float64
 16  PRC_FULL_PAYMENT                         7297 non-null   float64
 17  TENURE                                   7297 non-null   int64
 18  zscore_balance                           7297 non-null   float64
 19  zscore_balance_freq                      7297 non-null   float64
 20  zscore_purchases                         7297 non-null   float64
 21  zscore_oneoff_purchases                  7297 non-null   float64
 22  zscore_installments_purchases            7297 non-null   float64
 23  zscore_cash_advance                      7297 non-null   float64
 24  zscore_purchases_frequency               7297 non-null   float64
 25  zscore_oneoff_purchases_frequency        7297 non-null   float64
 26  zscore_purchases_installments_frequency  7297 non-null   float64
 27  zscore_cash_advance_frequency            7297 non-null   float64
 28  zscore_cash_advance_trx                  7297 non-null   float64
dtypes: float64(25), int64(3), object(1)
memory usage: 1.7+ MB

In [231]:
#determine and (possibly) remove outliers
#12. purchases trx
df["zscore_purchases_trx"] = np.abs(stats.zscore(df["PURCHASES_TRX"]))
purchases_trx_outliers = df.loc[df["zscore_purchases_trx"] > 3].index

print(purchases_trx_outliers)

##many outliers for purchases trx 

df = df[df["zscore_purchases_trx"] <= 3]

df.info()

Int64Index([  48,   64,  102,  112,  258,  261,  270,  283,  355,  417,
            ...
            7786, 7847, 7877, 7896, 7899, 7932, 8026, 8469, 8707, 8856],
           dtype='int64', length=150)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7147 entries, 0 to 8949
Data columns (total 30 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  7147 non-null   object
 1   BALANCE                                  7147 non-null   float64
 2   BALANCE_FREQUENCY                        7147 non-null   float64
 3   PURCHASES                                7147 non-null   float64
 4   ONEOFF_PURCHASES                         7147 non-null   float64
 5   INSTALLMENTS_PURCHASES                   7147 non-null   float64
 6   CASH_ADVANCE                             7147 non-null   float64
 7   PURCHASES_FREQUENCY                      7147 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               7147 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         7147 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   7147 non-null   float64
 11  CASH_ADVANCE_TRX                         7147 non-null   int64
 12  PURCHASES_TRX                            7147 non-null   int64
 13  CREDIT_LIMIT                             7147 non-null   float64
 14  PAYMENTS                                 7147 non-null   float64
 15  MINIMUM_PAYMENTS                         7147 non-null   float64
 16  PRC_FULL_PAYMENT                         7147 non-null   float64
 17  TENURE                                   7147 non-null   int64
 18  zscore_balance                           7147 non-null   float64
 19  zscore_balance_freq                      7147 non-null   float64
 20  zscore_purchases                         7147 non-null   float64
 21  zscore_oneoff_purchases                  7147 non-null   float64
 22  zscore_installments_purchases            7147 non-null   float64
 23  zscore_cash_advance                      7147 non-null   float64
 24  zscore_purchases_frequency               7147 non-null   float64
 25  zscore_oneoff_purchases_frequency        7147 non-null   float64
 26  zscore_purchases_installments_frequency  7147 non-null   float64
 27  zscore_cash_advance_frequency            7147 non-null   float64
 28  zscore_cash_advance_trx                  7147 non-null   float64
 29  zscore_purchases_trx                     7147 non-null   float64
dtypes: float64(26), int64(3), object(1)
memory usage: 1.7+ MB

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7147 entries, 0 to 8949
Data columns (total 30 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  7147 non-null   object
 1   BALANCE                                  7147 non-null   float64
 2   BALANCE_FREQUENCY                        7147 non-null   float64
 3   PURCHASES                                7147 non-null   float64
 4   ONEOFF_PURCHASES                         7147 non-null   float64
 5   INSTALLMENTS_PURCHASES                   7147 non-null   float64
 6   CASH_ADVANCE                             7147 non-null   float64
 7   PURCHASES_FREQUENCY                      7147 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               7147 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         7147 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   7147 non-null   float64
 11  CASH_ADVANCE_TRX                         7147 non-null   int64
 12  PURCHASES_TRX                            7147 non-null   int64
 13  CREDIT_LIMIT                             7147 non-null   float64
 14  PAYMENTS                                 7147 non-null   float64
 15  MINIMUM_PAYMENTS                         7147 non-null   float64
 16  PRC_FULL_PAYMENT                         7147 non-null   float64
 17  TENURE                                   7147 non-null   int64
 18  zscore_balance                           7147 non-null   float64
 19  zscore_balance_freq                      7147 non-null   float64
 20  zscore_purchases                         7147 non-null   float64
 21  zscore_oneoff_purchases                  7147 non-null   float64
 22  zscore_installments_purchases            7147 non-null   float64
 23  zscore_cash_advance                      7147 non-null   float64
 24  zscore_purchases_frequency               7147 non-null   float64
 25  zscore_oneoff_purchases_frequency        7147 non-null   float64
 26  zscore_purchases_installments_frequency  7147 non-null   float64
 27  zscore_cash_advance_frequency            7147 non-null   float64
 28  zscore_cash_advance_trx                  7147 non-null   float64
 29  zscore_purchases_trx                     7147 non-null   float64
dtypes: float64(26), int64(3), object(1)
memory usage: 1.7+ MB

In [233]:
#determine and (possibly) remove outliers
#13. credit limit

df["zscore_credit_limit"] = np.abs(stats.zscore(df["CREDIT_LIMIT"]))
credit_limit_outliers = df.loc[df["zscore_credit_limit"] > 3].index

print(credit_limit_outliers)

##many outliers for credit limit 

df = df[df["zscore_credit_limit"] <= 3]

df.info()

Int64Index([  85,  149,  155,  178,  193,  197,  200,  223,  272,  310,
            ...
            4920, 4998, 5003, 5264, 5450, 5487, 5844, 6136, 6328, 6433],
           dtype='int64', length=116)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7031 entries, 0 to 8949
Data columns (total 31 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  7031 non-null   object
 1   BALANCE                                  7031 non-null   float64
 2   BALANCE_FREQUENCY                        7031 non-null   float64
 3   PURCHASES                                7031 non-null   float64
 4   ONEOFF_PURCHASES                         7031 non-null   float64
 5   INSTALLMENTS_PURCHASES                   7031 non-null   float64
 6   CASH_ADVANCE                             7031 non-null   float64
 7   PURCHASES_FREQUENCY                      7031 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               7031 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         7031 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   7031 non-null   float64
 11  CASH_ADVANCE_TRX                         7031 non-null   int64
 12  PURCHASES_TRX                            7031 non-null   int64
 13  CREDIT_LIMIT                             7031 non-null   float64
 14  PAYMENTS                                 7031 non-null   float64
 15  MINIMUM_PAYMENTS                         7031 non-null   float64
 16  PRC_FULL_PAYMENT                         7031 non-null   float64
 17  TENURE                                   7031 non-null   int64
 18  zscore_balance                           7031 non-null   float64
 19  zscore_balance_freq                      7031 non-null   float64
 20  zscore_purchases                         7031 non-null   float64
 21  zscore_oneoff_purchases                  7031 non-null   float64
 22  zscore_installments_purchases            7031 non-null   float64
 23  zscore_cash_advance                      7031 non-null   float64
 24  zscore_purchases_frequency               7031 non-null   float64
 25  zscore_oneoff_purchases_frequency        7031 non-null   float64
 26  zscore_purchases_installments_frequency  7031 non-null   float64
 27  zscore_cash_advance_frequency            7031 non-null   float64
 28  zscore_cash_advance_trx                  7031 non-null   float64
 29  zscore_purchases_trx                     7031 non-null   float64
 30  zscore_credit_limit                      7031 non-null   float64
dtypes: float64(27), int64(3), object(1)
memory usage: 1.7+ MB

In [234]:
#determine and (possibly) remove outliers
#14. payments
df["zscore_payments"] = np.abs(stats.zscore(df["PAYMENTS"]))
payments_outliers = df.loc[df["zscore_payments"] > 3].index

print(payments_outliers)

##no outliers for payments 

df = df[df["zscore_payments"] <= 3]

df.info()

Int64Index([  34,   39,   68,  278,  301,  302,  335,  351,  369,  405,
            ...
            7133, 7222, 7560, 7814, 8052, 8167, 8170, 8265, 8410, 8582],
           dtype='int64', length=144)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6887 entries, 0 to 8949
Data columns (total 32 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  6887 non-null   object
 1   BALANCE                                  6887 non-null   float64
 2   BALANCE_FREQUENCY                        6887 non-null   float64
 3   PURCHASES                                6887 non-null   float64
 4   ONEOFF_PURCHASES                         6887 non-null   float64
 5   INSTALLMENTS_PURCHASES                   6887 non-null   float64
 6   CASH_ADVANCE                             6887 non-null   float64
 7   PURCHASES_FREQUENCY                      6887 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               6887 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         6887 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   6887 non-null   float64
 11  CASH_ADVANCE_TRX                         6887 non-null   int64
 12  PURCHASES_TRX                            6887 non-null   int64
 13  CREDIT_LIMIT                             6887 non-null   float64
 14  PAYMENTS                                 6887 non-null   float64
 15  MINIMUM_PAYMENTS                         6887 non-null   float64
 16  PRC_FULL_PAYMENT                         6887 non-null   float64
 17  TENURE                                   6887 non-null   int64
 18  zscore_balance                           6887 non-null   float64
 19  zscore_balance_freq                      6887 non-null   float64
 20  zscore_purchases                         6887 non-null   float64
 21  zscore_oneoff_purchases                  6887 non-null   float64
 22  zscore_installments_purchases            6887 non-null   float64
 23  zscore_cash_advance                      6887 non-null   float64
 24  zscore_purchases_frequency               6887 non-null   float64
 25  zscore_oneoff_purchases_frequency        6887 non-null   float64
 26  zscore_purchases_installments_frequency  6887 non-null   float64
 27  zscore_cash_advance_frequency            6887 non-null   float64
 28  zscore_cash_advance_trx                  6887 non-null   float64
 29  zscore_purchases_trx                     6887 non-null   float64
 30  zscore_credit_limit                      6887 non-null   float64
 31  zscore_payments                          6887 non-null   float64
dtypes: float64(28), int64(3), object(1)
memory usage: 1.7+ MB

In [235]:
#determine and (possibly) remove outliers
#15. minimum payments
df["zscore_minimum_payments"] = np.abs(stats.zscore(df["MINIMUM_PAYMENTS"]))
minimum_payments_outliers = df.loc[df["zscore_minimum_payments"] > 3].index

print(minimum_payments_outliers)

##no outliers for min payments 

df = df[df["zscore_minimum_payments"] <= 3]

df.info()

Int64Index([  19,   20,   78,  367,  519,  562,  571,  649,  666,  678,  697,
             800,  819,  974,  987, 1016, 1027, 1130, 1231, 1306, 1430, 1676,
            1683, 1696, 1766, 1768, 1839, 1989, 2404, 2423, 2599, 2700, 2705,
            2736, 2774, 2788, 2898, 3286, 3535, 3588, 3747, 4283, 4602, 4658,
            4942, 5005, 5042, 5079, 5097, 5298, 5483, 5657, 5665, 5741, 5835,
            5968, 6142, 6202, 6438, 6576, 6601, 6635, 6642, 6782, 6906, 7179,
            7264, 7349, 7412, 7707, 7837, 7879, 8008, 8051, 8065, 8209, 8251,
            8272, 8274, 8349, 8470, 8614, 8688, 8724],
           dtype='int64')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6803 entries, 0 to 8949
Data columns (total 33 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  6803 non-null   object
 1   BALANCE                                  6803 non-null   float64
 2   BALANCE_FREQUENCY                        6803 non-null   float64
 3   PURCHASES                                6803 non-null   float64
 4   ONEOFF_PURCHASES                         6803 non-null   float64
 5   INSTALLMENTS_PURCHASES                   6803 non-null   float64
 6   CASH_ADVANCE                             6803 non-null   float64
 7   PURCHASES_FREQUENCY                      6803 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               6803 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         6803 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   6803 non-null   float64
 11  CASH_ADVANCE_TRX                         6803 non-null   int64
 12  PURCHASES_TRX                            6803 non-null   int64
 13  CREDIT_LIMIT                             6803 non-null   float64
 14  PAYMENTS                                 6803 non-null   float64
 15  MINIMUM_PAYMENTS                         6803 non-null   float64
 16  PRC_FULL_PAYMENT                         6803 non-null   float64
 17  TENURE                                   6803 non-null   int64
 18  zscore_balance                           6803 non-null   float64
 19  zscore_balance_freq                      6803 non-null   float64
 20  zscore_purchases                         6803 non-null   float64
 21  zscore_oneoff_purchases                  6803 non-null   float64
 22  zscore_installments_purchases            6803 non-null   float64
 23  zscore_cash_advance                      6803 non-null   float64
 24  zscore_purchases_frequency               6803 non-null   float64
 25  zscore_oneoff_purchases_frequency        6803 non-null   float64
 26  zscore_purchases_installments_frequency  6803 non-null   float64
 27  zscore_cash_advance_frequency            6803 non-null   float64
 28  zscore_cash_advance_trx                  6803 non-null   float64
 29  zscore_purchases_trx                     6803 non-null   float64
 30  zscore_credit_limit                      6803 non-null   float64
 31  zscore_payments                          6803 non-null   float64
 32  zscore_minimum_payments                  6803 non-null   float64
dtypes: float64(29), int64(3), object(1)
memory usage: 1.8+ MB

In [236]:
#determine and (possibly) remove outliers
#16. prc full payment
df["zscore_prc_full_payment"] = np.abs(stats.zscore(df["PRC_FULL_PAYMENT"]))
prc_full_payment_outliers = df.loc[df["zscore_prc_full_payment"] > 3].index

print(prc_full_payment_outliers)

##no outliers for prc full payments 

df = df[df["zscore_prc_full_payment"] <= 3]

df.info()

Int64Index([], dtype='int64')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6803 entries, 0 to 8949
Data columns (total 34 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  6803 non-null   object
 1   BALANCE                                  6803 non-null   float64
 2   BALANCE_FREQUENCY                        6803 non-null   float64
 3   PURCHASES                                6803 non-null   float64
 4   ONEOFF_PURCHASES                         6803 non-null   float64
 5   INSTALLMENTS_PURCHASES                   6803 non-null   float64
 6   CASH_ADVANCE                             6803 non-null   float64
 7   PURCHASES_FREQUENCY                      6803 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               6803 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         6803 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   6803 non-null   float64
 11  CASH_ADVANCE_TRX                         6803 non-null   int64
 12  PURCHASES_TRX                            6803 non-null   int64
 13  CREDIT_LIMIT                             6803 non-null   float64
 14  PAYMENTS                                 6803 non-null   float64
 15  MINIMUM_PAYMENTS                         6803 non-null   float64
 16  PRC_FULL_PAYMENT                         6803 non-null   float64
 17  TENURE                                   6803 non-null   int64
 18  zscore_balance                           6803 non-null   float64
 19  zscore_balance_freq                      6803 non-null   float64
 20  zscore_purchases                         6803 non-null   float64
 21  zscore_oneoff_purchases                  6803 non-null   float64
 22  zscore_installments_purchases            6803 non-null   float64
 23  zscore_cash_advance                      6803 non-null   float64
 24  zscore_purchases_frequency               6803 non-null   float64
 25  zscore_oneoff_purchases_frequency        6803 non-null   float64
 26  zscore_purchases_installments_frequency  6803 non-null   float64
 27  zscore_cash_advance_frequency            6803 non-null   float64
 28  zscore_cash_advance_trx                  6803 non-null   float64
 29  zscore_purchases_trx                     6803 non-null   float64
 30  zscore_credit_limit                      6803 non-null   float64
 31  zscore_payments                          6803 non-null   float64
 32  zscore_minimum_payments                  6803 non-null   float64
 33  zscore_prc_full_payment                  6803 non-null   float64
dtypes: float64(30), int64(3), object(1)
memory usage: 1.8+ MB

In [239]:
#determine and (possibly) remove outliers
#17. tenure
df["zscore_tenure"] = np.abs(stats.zscore(df["TENURE"]))
tenure_outliers = df.loc[df["zscore_tenure"] > 3].index

print(tenure_outliers)

##no outliers for tenure 

df = df[df["zscore_tenure"] <= 3]

df.info()

Int64Index([ 164,  173,  222,  316,  397,  543,  549,  687,  692,  701,
            ...
            8937, 8938, 8939, 8940, 8942, 8943, 8945, 8947, 8948, 8949],
           dtype='int64', length=314)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6489 entries, 0 to 8880
Data columns (total 35 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   CUST_ID                                  6489 non-null   object
 1   BALANCE                                  6489 non-null   float64
 2   BALANCE_FREQUENCY                        6489 non-null   float64
 3   PURCHASES                                6489 non-null   float64
 4   ONEOFF_PURCHASES                         6489 non-null   float64
 5   INSTALLMENTS_PURCHASES                   6489 non-null   float64
 6   CASH_ADVANCE                             6489 non-null   float64
 7   PURCHASES_FREQUENCY                      6489 non-null   float64
 8   ONEOFF_PURCHASES_FREQUENCY               6489 non-null   float64
 9   PURCHASES_INSTALLMENTS_FREQUENCY         6489 non-null   float64
 10  CASH_ADVANCE_FREQUENCY                   6489 non-null   float64
 11  CASH_ADVANCE_TRX                         6489 non-null   int64
 12  PURCHASES_TRX                            6489 non-null   int64
 13  CREDIT_LIMIT                             6489 non-null   float64
 14  PAYMENTS                                 6489 non-null   float64
 15  MINIMUM_PAYMENTS                         6489 non-null   float64
 16  PRC_FULL_PAYMENT                         6489 non-null   float64
 17  TENURE                                   6489 non-null   int64
 18  zscore_balance                           6489 non-null   float64
 19  zscore_balance_freq                      6489 non-null   float64
 20  zscore_purchases                         6489 non-null   float64
 21  zscore_oneoff_purchases                  6489 non-null   float64
 22  zscore_installments_purchases            6489 non-null   float64
 23  zscore_cash_advance                      6489 non-null   float64
 24  zscore_purchases_frequency               6489 non-null   float64
 25  zscore_oneoff_purchases_frequency        6489 non-null   float64
 26  zscore_purchases_installments_frequency  6489 non-null   float64
 27  zscore_cash_advance_frequency            6489 non-null   float64
 28  zscore_cash_advance_trx                  6489 non-null   float64
 29  zscore_purchases_trx                     6489 non-null   float64
 30  zscore_credit_limit                      6489 non-null   float64
 31  zscore_payments                          6489 non-null   float64
 32  zscore_minimum_payments                  6489 non-null   float64
 33  zscore_prc_full_payment                  6489 non-null   float64
 34  zscore_tenure                            6489 non-null   float64
dtypes: float64(31), int64(3), object(1)
memory usage: 1.8+ MB

In [240]:
df.isnull().sum()

CUST_ID                                    0
BALANCE                                    0
BALANCE_FREQUENCY                          0
PURCHASES                                  0
ONEOFF_PURCHASES                           0
INSTALLMENTS_PURCHASES                     0
CASH_ADVANCE                               0
PURCHASES_FREQUENCY                        0
ONEOFF_PURCHASES_FREQUENCY                 0
PURCHASES_INSTALLMENTS_FREQUENCY           0
CASH_ADVANCE_FREQUENCY                     0
CASH_ADVANCE_TRX                           0
PURCHASES_TRX                              0
CREDIT_LIMIT                               0
PAYMENTS                                   0
MINIMUM_PAYMENTS                           0
PRC_FULL_PAYMENT                           0
TENURE                                     0
zscore_balance                             0
zscore_balance_freq                        0
zscore_purchases                           0
zscore_oneoff_purchases                    0
zscore_installments_purchases              0
zscore_cash_advance                        0
zscore_purchases_frequency                 0
zscore_oneoff_purchases_frequency          0
zscore_purchases_installments_frequency    0
zscore_cash_advance_frequency              0
zscore_cash_advance_trx                    0
zscore_purchases_trx                       0
zscore_credit_limit                        0
zscore_payments                            0
zscore_minimum_payments                    0
zscore_prc_full_payment                    0
zscore_tenure                              0
dtype: int64

In [241]:
df.drop(columns = ["zscore_balance", "zscore_balance_freq", "zscore_purchases", "zscore_oneoff_purchases", "zscore_installments_purchases", "zscore_cash_advance", "zscore_purchases_frequency", "zscore_oneoff_purchases_frequency", "zscore_purchases_installments_frequency", "zscore_cash_advance_frequency", "zscore_cash_advance_trx", "zscore_purchases_trx", "zscore_credit_limit", "zscore_payments", "zscore_minimum_payments", "zscore_prc_full_payment", "zscore_tenure", "CUST_ID"], inplace = True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6489 entries, 0 to 8880
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   BALANCE                           6489 non-null   float64
 1   BALANCE_FREQUENCY                 6489 non-null   float64
 2   PURCHASES                         6489 non-null   float64
 3   ONEOFF_PURCHASES                  6489 non-null   float64
 4   INSTALLMENTS_PURCHASES            6489 non-null   float64
 5   CASH_ADVANCE                      6489 non-null   float64
 6   PURCHASES_FREQUENCY               6489 non-null   float64
 7   ONEOFF_PURCHASES_FREQUENCY        6489 non-null   float64
 8   PURCHASES_INSTALLMENTS_FREQUENCY  6489 non-null   float64
 9   CASH_ADVANCE_FREQUENCY            6489 non-null   float64
 10  CASH_ADVANCE_TRX                  6489 non-null   int64
 11  PURCHASES_TRX                     6489 non-null   int64
 12  CREDIT_LIMIT                      6489 non-null   float64
 13  PAYMENTS                          6489 non-null   float64
 14  MINIMUM_PAYMENTS                  6489 non-null   float64
 15  PRC_FULL_PAYMENT                  6489 non-null   float64
 16  TENURE                            6489 non-null   int64
dtypes: float64(14), int64(3)
memory usage: 912.5 KB

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [251]:
df2 = df.copy()

In [254]:
df2.columns

Index(['BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES', 'ONEOFF_PURCHASES',
       'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE', 'PURCHASES_FREQUENCY',
       'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY',
       'CASH_ADVANCE_FREQUENCY', 'CASH_ADVANCE_TRX', 'PURCHASES_TRX',
       'CREDIT_LIMIT', 'PAYMENTS', 'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT',
       'TENURE', 'cluster'],
      dtype='object')

In [ ]:
df2.columns = ['BALANCE', 'PURCHASES', 
       'CASH_ADVANCE', 'CREDIT_LIMIT', 'PAYMENTS', 'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT',
       'TENURE', 'cluster']

In [ ]:
# compare all numerical features by income group
sns.pairplot(data=df, hue="income_groups")

# K Means

In [246]:
# dataframe that will be used in algorithm
X = df[["BALANCE", "PURCHASES", "CREDIT_LIMIT", "PRC_FULL_PAYMENT"]]
X.head()

       BALANCE  PURCHASES  CREDIT_LIMIT  PRC_FULL_PAYMENT
0    40.900749      95.40        1000.0          0.000000
1  3202.467416       0.00        7000.0          0.222222
2  2495.148862     773.17        7500.0          0.000000
4   817.714335      16.00        1200.0          0.000000
5  1809.828751    1333.28        1800.0          0.000000

In [247]:
# initialize KMeans to create 3 clusters
kmeans = KMeans(n_clusters=3)

In [248]:
# build the model
# determine centroid position, then assign data to groups based on closest centroid
kmeans.fit(X)

KMeans(n_clusters=3)

In [249]:
# centroid row position DOES NOT MATTER
# centroid columns are in order of dataframe columns index(0=Age, 1=Income, 2=Score)
kmeans.cluster_centers_

array([[1.17009006e+03, 8.43771941e+02, 5.33727114e+03, 2.02489626e-01],
       [3.13686525e+03, 8.36008157e+02, 8.92963855e+03, 1.02790204e-01],
       [8.14818813e+02, 4.57420015e+02, 1.89223067e+03, 1.36717585e-01]])

In [250]:
# create column in original dataframe with cluster group number
df['cluster'] = kmeans.labels_
df.head()

C:\Users\RVHU32~1\AppData\Local\Temp/ipykernel_12284/1420249565.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'] = kmeans.labels_

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE,cluster
0,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.00,0,2,1000.0,201.802084,139.509787,0.000000,12,2
1,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.25,4,0,7000.0,4103.032597,1072.340217,0.222222,12,1
2,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.00,0,12,7500.0,622.066742,627.284787,0.000000,12,1
4,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.00,0,1,1200.0,678.334763,244.791237,0.000000,12,2
5,1809.828751,1.000000,1333.28,0.00,1333.28,0.000000,0.666667,0.000000,0.583333,0.00,0,8,1800.0,1400.057770,2407.246035,0.000000,12,2